<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>NITAC wiki</title>
  <link rel="stylesheet" type="text/css" href="{{ static_url("css/bootstrap.css") }}">
  <link rel="stylesheet" type="text/css" href="{{ static_url("temp.css") }}">
  <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>

<header>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="home" class="navbar-brand">NITAC Programming club</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav">
          <li><a href="activity">Activity</a></li>
          <li><a href="blog">Blog</a></li>
          <li><a href="link">Link</a></li>
          <li><a href="wiki">Wiki</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<div class="jumbotron">
	<div class="container">
		<h1>NITAC wiki</h1>
    <p id="subtext">「寮での生き方」から「先生の好物」まで手広くカバーする巨大辞典(になる予定)</p>
  </div>
</div>

<div class="container">
  <p>
	まだまだ記事が少ない状態です。<br>
	「こんなことが知りたい!」ということがございましたらメールをいただけると返信もしくは記事にします。
	<p class="bs-component">
          <a href="mailto:1146939@st.anan-nct.ac.jp?subject=%82%b2%97v%96%5d%0d%0a&amp;body=%82%b2%8bL%93%fc%82%ad%82%be%82%b3%82%a2" class="btn btn-default">ご要望はコチラ</a>
        </p>
  </p>
</div>

<div class="container">
  <h1>寮の役立ち情報</h1>
   <p>
	<ul>
		<li><a href="../wikidata/Dormitory/UsefulItems.html">あると便利なもの</a></li>
	</ul>
  </p>
</div>

<div class="container">
  <h1>学校の役立ち情報</h1>
  <p>
	coming soon...
  </p>
</div>

<div class="container">
  <h1>先生一覧</h1>
  <p>
	coming soon...
  </p>
</div>

<div class="container">
  <h1>施設一覧</h1>
  <p>
	coming soon...
  </p>
</div>
